@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
  font-family: 'Quicksand', sans-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}

.carousel {
  width: 100%;
  height: 200px;
}

footer {
  position: relative;
  height: 610px;
  bottom: 0;
  width: 100%;
}

#map {
  height: 255px;
  width: 255px;
}

.shake-box {
  position: relative;
  animation: shake .1s linear;
  animation-iteration-count: 3;
}

@keyframes shake {
  0% {
    left: -5px;
  }
  100% {
    right: -5px;
  }
}

/* product section */

.imgProd {
  width: 100%;
}

.product-title {
  font-size: 19px;
}

.reviews span {
  color: limeGreen;
}

img.morty-review {
  width: 20px;
}

img.morty-half {
  width: 10px;
}

.visible {
  width: 100%;
  cursor: pointer;
  background-color: #C41230;
  text-transform: uppercase;
  padding: 10px;
  text-decoration: none;
  font-weight: 400;
  transition: opacity 0.5s ease-in-out;
  bottom: 5px;
  opacity: 0.8;
  position: relative;
}

.hidden {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.products .imgProd .visible a, .products .imgProd .visible a:visited, .products .imgProd .visible a:active, .products .imgProd .visible a:hover {
  color: #EFEFEF;
  text-decoration: none;
}

.visible:hover {
  opacity: 1;
}

.products p {
  margin-bottom: 10px;
}

.products p span {
  font-weight: bold;
}

.products .ratings .reviews span {
  color: teal;
}

.imgProd img {
  width: 100%;
  padding: 15%;
}

img.currency {
  width: 28px;
}

.background-div {
  background-image: url('../images/starry-night.png');
  height: 150px;
  color: white;
}
