footer {
  position: fixed;
    height: 610px;
    bottom: 0;
    width: 100%;

}

#map {
          height: 255px;  /* The height is 400 pixels */
          width: 255px;  /* The width is the width of the web page */
}
